<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003263124213-hb73va8j12jrukqeuepvtoc0bej342s4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003263124213-hb73va8j12jrukqeuepvtoc0bej342s4</string>
	<key>API_KEY</key>
	<string>AIzaSyA7MdsSuGanfSF0qfzkKQ_UmTuUY2jxMJI</string>
	<key>GCM_SENDER_ID</key>
	<string>1003263124213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mydomain.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-project-pls</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-project-pls.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003263124213:ios:214bc942b5a48dd9139bbc</string>
</dict>
</plist>